#flickr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flickr img {
    margin: .5rem;
    align-self: flex-end;
}

@media screen and (max-width: 600px) {
    #flickr {
        flex-direction: column;
    }

    #flickr img {
        align-self: center;
    }
}