p {
    margin-top: 0;
}

#photo-search {
    display: flex;
}

#photo-search label {
    margin-right: .5rem;
}

#photo-search input {
    height: 25px;
    margin-bottom: 1.5rem;
}

#photo-search button {
    height: 25px;
    border-radius: 0;
    border: 1px solid lightgray;
    border-left: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#flickr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #flickr {
        flex-direction: column;
    }

    #flickr-img {
        align-self: center;
    }
}

#flickr img {
    margin: .5rem;
    align-self: flex-end;
}