@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: #f2f2f2;
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    margin-left: 1.5rem;
    transition: .3s all;
}

nav a:hover {
    color: darkgray;
}

nav h2 {
    margin: 0;
    white-space: nowrap;
}

nav span {
    color: red;
}

main {
    padding: 1rem;
}

p {
    margin-top: 0;
}

.search {
    display: flex;
}

.search label {
    margin-right: .5rem;
}

.search input {
    height: 25px;
    margin-bottom: 1.5rem;
}

.search button {
    height: 25px;
    border-radius: 0;
    border: 1px solid lightgray;
    border-left: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: .5rem;
}

td {
    text-align: center;
}

ul {
    margin-bottom: 0;
}